<div class="card" style="width: 18rem;">
    <img src={{productData.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{productData.name}}</h5>
      <p class="card-text">Description: {{productData.description}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">Price: {{productData.price}}€</p>
      <p class="card-text">Quality: <app-starts [number]="productData.quality"></app-starts></p>
      <p class="card-text">Quality Price: <app-starts [number]="productData.quality_price_ratio"></app-starts></p>
      <p class="card-text">Durability: <app-starts [number]="productData.durability"></app-starts></p>
    </div>
  </div>
